@import "tailwindcss";

:root {
  font-family: Arial, Helvetica, system-ui, Avenir, sans-serif;

  background-color: #383838;

  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
